html {
  font-family: sans-serif;
  line-height: 22px;

  --mobile:   
;
}

body {
  margin: 0;
}

code {
  padding: 1px 5px;
  border-radius: 3px;
  background-color: #f2f2f2 !important;
}

a:visited {
  color: blue;
}

.astro-code {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #f2f2f2 !important;
}
