---
import Page from '../layouts/Page.astro'
---

<style>
  .natas {
    display: flex;
    justify-content: center;

    img {
      margin-top: 3rem;
      width: 90%;
    }
  }
</style>

<Page>
  <div class="natas">
    <img class="image" src="/cats.png" />
  </div>
</Page>
