---
import Page from '../layouts/Page.astro'
import { Image } from 'astro:assets'
import Cats from '../assets/cats.png'
---

<style>
  .natas {
    display: flex;
    justify-content: center;

    .image {
      margin-top: 3rem;
    }
  }
</style>

<Page>
  <div class="natas">
    <Image
      class="image"
      src={Cats}
      width={1000}
      height={800}
      layout="responsive"
      alt="cats"
    />
  </div>
</Page>
