---
import List from "./List.astro"; 

const blogs = [
	{ label: 'this is the amazing title for my first blog', link: '/', description: 'Lorem ipsum odor amet, consectetuer adipiscing elit. Eros purus taciti orci viverra ullamcorper suscipit. Gravida fusce aliquet placerat dictum amet sodales litora. Ad consequat urna vitae; lobortis sollicitudin eget sed. Potenti sapien tempor odio sollicitudin at. Varius platea fusce lectus ligula auctor fringilla.' },
	{ label: 'this is the amazing title for my second blog', link: '/', description: 'Lorem ipsum odor amet, consectetuer adipiscing elit. Eros purus taciti orci viverra ullamcorper suscipit. Gravida fusce aliquet placerat dictum amet sodales litora. Ad consequat urna vitae; lobortis sollicitudin eget sed. Potenti sapien tempor odio sollicitudin at. Varius platea fusce lectus ligula auctor fringilla.' },
	{ label: 'this is the amazing title for my third blog', link: '/', description: 'Lorem ipsum odor amet, consectetuer adipiscing elit. Eros purus taciti orci viverra ullamcorper suscipit. Gravida fusce aliquet placerat dictum amet sodales litora. Ad consequat urna vitae; lobortis sollicitudin eget sed. Potenti sapien tempor odio sollicitudin at. Varius platea fusce lectus ligula auctor fringilla.' },
	{ label: 'this is a cool title for blog 5', link: '/', description: 'Lorem ipsum odor amet, consectetuer adipiscing elit. Eros purus taciti orci viverra ullamcorper suscipit. Gravida fusce aliquet placerat dictum amet sodales litora. Ad consequat urna vitae; lobortis sollicitudin eget sed. Potenti sapien tempor odio sollicitudin at. Varius platea fusce lectus ligula auctor fringilla.' },
];
---
<style>
	.blog-list-container {
		display: flex;
		flex-direction: column;
	}
	
	.blog-header-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 40px 0;
	}

	.blog-header-description {
		font-size: medium;
	}
</style>

<div class="blog-list-container">
	<div class="blog-header-container">
		<h1>blogs</h1>
		<span class="blog-header-description">a place for things that i write</span>
	</div>
	<List items={blogs} />
</div>
