---
import ListItem from './ListItem.astro';

interface IListItem {
  label: string;
  link?: string | URL;
  description?: string;
}

interface Props {
  items: IListItem[];
}

const {
  items,
} = Astro.props;
---
<style>
  .list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
</style>

<div class:list={['list-container']}>
  {items.map(({ link, label, description }) => (
    <ListItem 
      label={label} 
      link={link} 
      description={description}
    />
  ))}
</div>
